@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
input
{
    width:100%;
    border-radius:2px;
    padding:13px;
    border:darkgray;
}
.button {
    background-color: white; /* Green */
    border: none;
    color: black;
    padding: 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 150%;
    cursor: pointer;
    border-radius: 5px;
    width:100%;
}
.button1 {
    background-color: #2867B2; 
    color: white; 
    border: 2px solid #A4A4A4;
}
.button1:disabled {
cursor:not-allowed;
}
.button1:hover {
    color:black;
    background-color: white; 
}
#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.9);
  z-index: 2;
  cursor: pointer;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 150%;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
div.login
{
color:black;
background-color:#eeeeee;
border-radius: 5px;
padding: 40px;
margin:  0px 0px 0px 0px;
}
.my-container{
background-color: #eeeeee;
height: 800px;
}
/* div.container-fluid{
 background-color:#e0e0e0;
} */